# Dev(Change values)
DEBUG=1
SECRET_KEY=change-me-later
POSTGRES_DB=jilchurch
POSTGRES_USER=jilchurch_user
POSTGRES_PASSWORD=devpassword
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=default@example.com
PGADMIN_DEFAULT_PASSWORD=admin123